body {
    margin: 0px 0.7% 0 0.7%;
    font-family: "Ubuntu", sans-serif;
    background-color:  	#1b001f;
    font-size: 100%;
    color: white;

}

.header{
    margin: 0 0.7% 0 0.7%;
    border-bottom: 2px solid white;  
}

.name{
    margin: 0 1% 0 0;
    color: white;
    font-size: 170%;
    font-weight: bold;
}

.disabled-name{

    color: white;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    
}

.soc{
    color: #5820c0;
    float:  right;
    font-size: 170%;
}

.dev{
    margin: 0 0.3% 0 0.3%;
    float: right;
    font-size: 170%;
}

.description{
    margin: 0 0.7% 0 0.7%;
    font-size: 120%;

}

.description-bold{
    font-size: 120%;
    font-weight: bold;
}

.dot{
    margin-bottom: 50%;
    font-size: 120%;
    float: right;
}


.posts{
    margin: 0.7% 0 0 0;

}



.post1{
    margin: 0 0.7% 0.7% 0;

    border: 2px solid white;
    width: 75%;
    float: left;
}

.post-center{
    margin: 0 0 0.7% 0;
    border: 2px solid white;
    width: 75%;
    text-align: center;
    float: left;
}


.post1:hover{
    background-color: #330026;
}

.title{
    font-size: 180%;
    margin: 0 0 0 0.7%;
    color: white;
}

.title-center{
    font-size: 180%;
    text-align: center;
    color: white;
}

.spaced{
    padding: 0 0.7% 0 0%;
    text-align: justify;
    text-justify: inter-word;
}
.p1-txt{
    font-size: 120%;

    text-decoration: none;
    color: white;

}

.pic{
    margin: 0 0.7% 0.7% 0.7%;
    width: 25%;
    float: left;
}

.dl{
    margin: 0 0 20% 0;
    font-size: 120%;
    padding: 0;
    text-decoration: underline;
    color: white;
}

.link{
    font-size: 120%;
    margin: 0 0 0 0%;
    color: #da3194;
    text-decoration: underline;
}


.tags{

    margin: 0 0 0.7% 0;
    padding: 0 0 0.1% 0.4% ;
    border: 2px solid white;
    width: 23%;
    float: right;
}



.tag{
    margin: 1% 1% 1% 0%;
    color: white;
    font-size: 150%;
    text-decoration: none;
}


.pic{

    width: 25%;
    float: left;
}


.fig{
    float: left;
    font-size: 120%;
    text-align: center;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 0.5em;
}

.bigfig{
    float: left;
    font-size: 120%;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 0.5em;
}


.fig2txt{

    font-size: 120%;
    text-align: center;

}

.text{
    margin: 0% 0% 1% 1% ;

}

.text-center{
    font-size: 120%;
    margin: 0 0 1% 1%;
    text-decoration: none;
    color: white;
}

.gradient{
    margin: 0 -0.7% 0px -0.7%;
    padding: 0 0.7% 0 0.7%
    position: absolute;
    background-image: linear-gradient(#ad00c7, #1b001f);
}

.iframe{
    width: 99%;
    height: 800px;
    margin: 0 auto;
    background-color: #777;
    border: none;
    display:block;
}

.tagframe{
    border: none;
    width: 99%;
    height: 999%;
}

.taggy{
    font-size: 120%;
    margin: 0 0 0 0.7%;
    color: white;
}

.mtags{
    height: 10%;
    border: 2px solid white;
    margin: 0.7% 0 0.07% 0;
    padding : 0 1% 0 1%;
    white-space: nowrap;
    overflow: scroll;
    margin: 0.7% 0% 2% 0;
}

.mtitle{
    margin: 1% 1% 1% 0%;
    font-weight: bold;
    font-size: 180%;
}
.mtag{
    margin: 1% 1% 1% 0%;
    color: white;
    font-size: 180%;
    text-decoration: none;
}

@media screen and (max-width: 897px) {

    .post1{
        margin: 0 0 2% 0;
        padding : 0 1% 0 1%;
        border: 2px solid white;
        width: 97%;
        float: left;
    }    

    .tags{
        display: none;
    }
    
    .tag{
        display: none;
    }





  }
@media screen and (min-width: 897px) {
    .mtags{
        display: none;
    }

    .mtitle{
        display: none;
    }
    .mtag{
        display: none;
    }

  }

@media screen and (min-width: 1866px) {

    .p1-txt{
        font-size: 150%;

    }

    .name{
        font-size: 200%;
    }
    .soc{
        font-size: 200%;
    }

    .description{
        font-size: 150%;

    }

    .title{
        font-size: 210%;

    }

    .tag{
        font-size: 150%;
    }


}
