body {
    margin: 0px 0.7% 0 0.7%;
    font-family: "Ubuntu", sans-serif;
    background-color:  	#161616;
    font-size: 100%;
    color: white;

}

.header{
    margin: 0 0.7% 0 0.7%;
    border-bottom: 3px solid rgba(204, 204, 204, 0.473)
}

.description{
    margin: 0 0.7% 0 0.7%;
    font-size: 120%;

}

.name{
    margin: 0 1% 0 1%;
    color: white;
    font-size: 170%;
    font-weight: bold;
}

.posts{

    margin: auto;
    width: 50%;
}


.post1{
    margin: 0.7% 0 0.7% 0%;
    padding: 1.7% 1.7% 1.7% 1.7%;
    border: 3px solid rgba(204, 204, 204, 0.473);
    border-radius: 10px;

    float: left;
}



.gradient{
    margin: 0 -0.7% 0px -0.7%;
    padding: 0 0.7% 0 0.7%
    position: absolute;
    background-image: linear-gradient(#ca91ff, #161616);
}


.mname{
    font-size: 170%;
}

@media screen and (max-width: 897px) {
    .ar-title{
        font-size: 150%;

    }

    .description{
        font-size: 100%;
    }   


    .mname{
        font-size: 200%;
    }

    .posts{

        margin: auto;
        width: 98%;
    }

    .post1{
        margin-top: 2%;
        border: 3px solid rgba(204, 204, 204, 0.473);
    } 

}
