.p2-txt {
    margin-left: 0.7%;
    font-size: 120%;
    padding: 0;
    text-decoration: none;
    color: white;
    float: left;
}

.fig {
    float: left;
    font-size: 120%;
    text-align: center;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 0.5em;
}

.bigfig {
    float: left;
    font-size: 120%;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 0.5em;
}

.fig2txt {
    font-size: 120%;
    text-align: center;
}

.dl {
    margin: 0 0 20% 0;
    font-size: 120%;
    padding: 0;
    text-decoration: underline;
    color: white;
}

.link {
    font-size: 120%;
    margin: 0 0 0 0%;
    color: #5820c0;
    text-decoration: underline;
}

.tags {
    margin: 0 0 0.7% 0;
}

.pic {
    margin: 0 0.7% 0.7% 0.7%;
    width: 25%;
    float: left;
}

.picsize {
    width: 100%;
}

@media screen and (max-width: 897px) {
    .post1 {
        margin: 0 0 0.7% 0;
        border: 2px solid white;
        width: 99.3%;
        float: left;
    }

    .tags {
        display: none;
    }

    .tag {
        display: none;
    }
}

@media screen and (min-width: 1866px) {
    .p1-txt {
        font-size: 150%;
    }

    .name {
        font-size: 200%;
    }
    .soc {
        font-size: 200%;
    }

    .description {
        font-size: 150%;
    }

    .title {
        font-size: 210%;
    }

    .tag {
        font-size: 150%;
    }
}
